

*{
    box-sizing: border-box;
    transition: .3s;
}

.body_title{
    margin-bottom: 20px;
    text-align: center;
    font-style: normal;
    font-weight: 600;
    font-size: 76px;
    opacity: 0.2;
    color: gray;

}
